@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

html {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
  }

body {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 10px;
    padding: 16px;
}

footer {
    border-top: 1px solid;
    padding: 16px;
    border-color: #F2E205;
    position: sticky;
    font-size: 18pt;
    color: #F28DCF;
    font-weight: bold;
}

img {
    height: 200px;
    border-radius: 15px;
    box-shadow: 5px 2px 5px 2px rgba(208, 123, 175, 0.609);
    transition: 0.5s;
}

img:hover{
    box-shadow: 10px 2px 10px 2px rgba(77, 35, 61, 0.609);
    transform:translateX(10px);
    height: 275px;
}

nav {
    border-bottom: 1px solid;
    padding: 16px;
    color: #F28DCF;
}

.nav-background-color{
    background-color: #F28DCF;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
}

a:hover{
    background-color: #9760A6;
    box-shadow: 5px 2px 5px 2px rgba(208, 123, 175, 0.609);
}

.footer-changes{
    background-color: #F2E205;
}

.changing-text{
    color:#F2BDE0;
    font-weight:bold;
}

.changing-text-2{
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    row-gap: 75px;
    justify-items: center;
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.5);
}

td, tr, th {
    border: #A63F6F dashed;
}

#main-centered{
	background-image: url(https://e0.pxfuel.com/wallpapers/552/943/desktop-wallpaper-dribbble-taco-pin-kunchevsky-png-by-alex-kunchevsky-kawaii-taco.jpg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
